.about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-right {
  flex: 1;

  h1 {
    font-weight: 400;
    color: #4169e1;
  }

  p {
    margin: 20px 0px;
  }

  .about-desc {
    font-weight: 300;
  }
}

.about-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
}

.about-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;

  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

@media screen and (max-device-width: 1024px), screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    height: 43vh;
  }

  .about-left {
    width: 100%;
  }

  .about-card {
    height: 30vh;
  }

  .about-card.bg,
  .about-left {
    display: none;
  }

  .about-right {
    padding: 20px;

    h1 {
      font-size: 80px;
      color: #4169e1;
    }

    p {
      font-size: 35px;
    }

    .about-desc {
      font-size: 28px;
    }
  }
}
